.team-details-container{
    height: 350px !important;
    width: 300px !important;
    border-radius: 25px;
    position: relative !important;
}

.team-details-container > img{
  border-radius: 10px !important;
  margin: 15px;
  position: absolute;
  top: 0;
}


.team-name{
  text-align: center !important;
  font-size: 22px !important;
  font-weight: 600 !important;
  line-height: 25px !important;
  color: rgba(0,0,0,0.9);
}

.team-descrption{
 text-align: center;
 font-weight: 500 !important;
 color: rgba(0,0,0,0.75);
 font-size: 16px !important;
 padding: 5px 15px;
 line-height: 18px !important;
}

/* //overlay in uesr details */

.team-profile-overlay{
    background: #00000099 !important;
    height: 270px;
    border-radius: 10px;
    margin: 15px;
    z-index: 11111 !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    visibility: hidden;
    transition: all 20ms ease-in;
}

.team-details-container:hover .team-profile-overlay{
  visibility: visible !important;
}

.team-profile-overlay > *{
  margin: 5px;
}