.nav-wrapper{
    background-color: #FFFFFF !important;
    box-shadow: none !important;
    height: 80px;
    border-bottom: 1px solid rgba(0,0,0,0.12);
}
.nav-container{
    margin-top: 10px ;
    justify-content: space-evenly;
}

.nav-container > * {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black !important;
}


.nav-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 55%;
    position: relative;
}

.nav-list-item{
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 23px !important;
    font-family: inherit !important;
    color: #222222 !important;
    position: relative;
    text-decoration: none !important;
}

.nav-list-item:hover{
    color:  var(--brand_color) !important;
}
.nav-list-item:hover .arrow-down{
    border: solid var(--brand_color) !important;
    border-width: 0 1px 1px 0 !important;
}
.nav-list-item:hover .nav-hamburger-list{
   top: 80px ;
   opacity: 1;
   visibility: visible;
}

.nav-link-tag{
    text-decoration: none;
    color: inherit !important;
}

.nav-menu{
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.3);
    padding: 10px;
}


.arrow-down {
    border: solid black;
    height: 1px !important;
    width: 1px !important;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin-bottom: 2px;
  }


.nav-btn-wrapper{
    min-width: 100%;
    display: flex;
    align-items: center;
}

.nav-btn{
    background-color: var(--brand_color) !important;
    padding: 15px 50px !important;
    color: #FFFFFF !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    font-family: inherit !important;
    text-transform: capitalize !important;
    border-radius: 25px !important;
    margin-left: 9px !important;;
}


.naw-drawer-logo{
    display: flex;
    justify-content: center;
    margin:10px 0;
    height: 35px;
}
.nav-drawer-list{
    font-size: 20px !important;
    font-weight: lighter !important;
}
.nav-drawer-list:hover{
   color: var(--brand_color);
}

.nav-drawer-sub-list{
    padding-left: 4px;
}
.nav-drawer-sub-list:hover{
    color: var(--brand_color) !important;
}
/* responsive */

@media only screen and (max-width: 1150px) {
    .nav-responsive-desktop{
    display: none !important;
    }
}

@media only screen and (min-width: 1151px) {
    .nav-responsive-mobile{
    display: none !important;
    }
}

