.news-wrapper{
    padding:70px 0 0 0 !important;
    width: 90% !important;
    margin: auto;
}

.news-heading-container{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.news-heading-arrow{
    position: absolute;
    right: 15%;
    height: 100px;
}

.news-explore-btn > button{
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 23px !important;
    /* fill: #FFFFFF !important; */
    color: #FFFFFF !important;
    background-color: #FF553E !important;
    border-radius: 30px;
    padding: 15px 45px;
    text-transform: capitalize;
}

.news-description{
    font-size: 16px !important;
    line-height: 25px !important;
    color: #646464;
}

.news-article-container{
    margin: 50px 0 !important;
    display: flex;
    justify-content: space-evenly;
}