.our-team-wrapper{
    padding: 70px 0;
}

.our-team-heading{
    text-align: center;
}

.our-team-main-heading{
    font-size: 45px !important;
    font-weight: 600 !important;
}

.our-team-sub-heading{
    font-size: 18px !important;
    font-weight: 600 !important;
    color: rgba(0,0,0,0.6);
}


.team-details-wrapper{
    margin-top: 35px;
    display: flex;
    justify-content: center;
}


