@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
}

:root{
    --brand_color : #FF553E;
    --brand_color_green : linear-gradient( #18BE72 0%, #14A361 100%);
}

body{
    font-family: 'Poppins', sans-serif !important;
}

.button-hover-scale{
    transition: scale 1s ease !important;
}

.button-hover-scale:hover{
    scale: 1.1 !important;
}

.heading-title-globle{
    font-weight: 700 !important;
    font-size: 47px !important;
    line-height: 50px !important;
}



@media  only screen and (max-width:600px){
    .heading-title-globle{font-size: 35px !important;line-height: 40px !important;}
}

