.appoinment-wrapper{
    background-image: url('../../../assets/Images/home/appointmentBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center!important;
    height: 1100px;
    opacity: 0.95;
    width: 100%;
}

.appoinment-container{
    float: right;
    width: 40vw !important;
    margin: 70px 10px;
    position: relative;
}
.appoinment-arrow{
    position: absolute;
    height: 200px;
    top: 90px;
    right: 550px;
}

.appoinment-heading-wrapper{
    width: 60%;
}

.appoinment-heading{
    color: #fff !important;
}

.appoinment-form{
    background-color: #FFFFFF;
    margin-right: 50px;
    border-radius: 20px ;
    margin-top: 15px;
    padding: 40px !important;
}

.appoinment-form > *{
    margin-top: 10px;
}

.radioBtnGroup{
    display: none !important;
}

.appoinment-radio-btn{
    display: flex;
    flex-wrap: wrap;
}

.appoinment-radio-btn > *{
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 10px;
      margin: 5px;
      border-radius: 20px;
      min-width: 120px;
      color: rgba(0, 0, 0, 0.9) ;
}

.appoinment-radio-btn img{
    margin: 5px 30%;
    height: 45px;
}

.appoinment-radio-btn p{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: inherit !important;
}


/* radio btn hover */
.appoinment-radio-btn-active{
    border: 1px solid var(--brand_color) !important;
    color: var(--brand_color) !important;
}

/* Adress input in apoinment form */
.appoinment-adressInput input{
    border: 1px solid rgba(0,0,0,0.6) !important;
    border-radius: 25px !important;
    height: 45px !important;
    padding: 0 15px;
}

.appoinment-adressInput input:focus{
    border: 1px solid var(--brand_color) !important;
}

/* Date range in form  */
.appoinment-dateRenge > div{
    display: flex;
    flex-wrap: wrap;
}

.appoinment-dateRenge input{
    border: 1px solid rgba(0,0,0,0.6) !important;
    border-radius: 25px !important;
    height: 45px !important;
    padding: 0 10px;
    margin: 5px 5px;
    font-size: 15px !important;
    text-align: center;
}

.appoinment-dateRenge input:focus{
    border: 1px solid var(--brand_color) !important;
}

/* appoinment form time slot section */
.appoinment-timeslot{
   display: flex;
   flex-wrap: wrap;
}

.appoinment-timeslot-time{
    border: 1px solid rgba(0,0,0,0.8);
    border-radius: 25px;
    margin: 10px;
    height: 45px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: 500;
    padding: 0 20px;
    color: rgba(0, 0, 0, 0.8);
    min-width: 35%;
}

.appoinment-timeslot-time:hover {
    border: 1px solid var(--brand_color) !important;
}

.appoinment-timeslot-active {
    border: 1px solid var(--brand_color) !important;
    color: var(--brand_color) !important;
}
/* submit form */
.appoinment-btn {
    margin-top: 20px;
}
.appoinment-btn > button{
    height: 50px !important;
    width: 150px !important;
    background-color: var(--brand_color) !important;
    border-radius: 25px !important;
    color: #fff !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
}


/* medium screen */
@media  only screen and (max-width:1150px) {
    .appoinment-container{width: 95vw !important;}
    .appoinment-heading-wrapper{width:100% !important;}
    .appoinment-heading{font-size: 35px !important;text-align: center;}
    .appoinment-arrow{display: none;}
    .appoinment-form{margin: 20px 0 !important;}
}