.step-book-wrapper{
    position: relative;
    width: 90%;
    margin: auto;
}
.step-book-arrow{
    position: absolute;
    top: -40%;
    right: 12%;
}

.step-book-heading{
    margin-top: 50px !important;
    text-align: center !important;
}

.step-book-description{
    color: #646464 !important;
    text-align: center !important;
    font-size: 20px !important;
}

.step-book-container{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 30px !important;
}

/* medium screen */
@media only screen and (max-width:1200px) {
    .step-book-wrapper{width: 100%;}
}

/* //mobile screen */
@media only screen and (max-width:1000px) {
    .step-book-container{flex-wrap: wrap;padding: 0 !important;}
}